*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(5,4,24,1) 0%, rgba(19,185,164,1) 0%, rgba(10,173,207,1) 88%);
}

span{
  background-color: black;
}

span:hover{
  color: white;
}
